
<div class="form-group">

    <label for="name">Treatment Name:</label>
    <input type="text" class="form-control" name="name" ng-model="formData.name">
</div>
<div class="form-group">

    <label for="name">From:</label>
    <input type="text" class="form-control" name="name" ng-model="formData.from">
</div>
<div class="form-group">

  
    <div>
    
    <form>
      <div class="form-group">
            <label for="date-birth" class="control-label">Date:</label>
            <div class="control">
                <input id="date-birth" class="form-control" type="date" ng-model="dateBirth">
            </div>
        </div>
            
       
        
        
    </form>
    
</div>
</div>

<div class="form-group row">

<div class="col-xs-4 col-xs-offset-3">
    <br><br>
    <a ui-sref="#" class="btn btn-block btn-info">
   Submit <span class="glyphicon glyphicon-circle-arrow-right"></span>
    </a>
</div>
</div>

