
<!------ Include the above in your HEAD tag ---------->



<nav class="navbar navbar-findcond navbar-fixed-top">
    <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Doctor Workbench</a>
    </div>
    <div class="collapse navbar-collapse" id="navbar">
      <ul class="nav navbar-nav navbar-right">
        
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Login <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Profile</a></li>
            <li><a href="#">Setting</a></li>
            <li class="divider"></li>
            <li><a href="#">Logout</a></li>
            
          </ul>
        </li>
      </ul>
      
    </div>
  </div>
</nav>










<div class="container-fluid">
  
    
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
      <div >
      
        <div class="offer-content" >
          <h3 class="lead" style="color:#336734 ">
          Patient Profile  
          </h3>
           
              <div class="form-group col-md-6">
                  <label style="color:#428bca">  First Name</label>

                  <input type="text" class="form-control" id="inputEmail4" >
                  </div>
                  
                  <div class="form-group col-md-6">
                    <label style="color:#428bca">Last Name</label>
                    <input type="text" class="form-control" id="inputEmail4" >
                    </div>

                    <div class="form-group col-md-6">
                      <label style="color:#428bca">FC_id</label>
                      <input type="text" class="form-control" id="inputEmail4" >
                      </div>
                      <div class="form-group col-md-6">
                        <label style="color:#428bca">Patient_id</label>
                        <input type="text" class="form-control" id="inputEmail4">
                        </div>
                        <div class="form-group col-md-4">
                          <label style="color:#428bca">Gender</label>
                          <input type="text" class="form-control" id="inputEmail4">
                          </div>
                          <div class="form-group col-md-4">
                            <label style="color:#428bca">Age</label>
                            <input type="text" class="form-control" id="inputEmail4">
                            </div>
                            <div class="form-group col-md-4">
                              <label style="color:#428bca">BloodGroup</label>
                              <input type="text" class="form-control" id="inputEmail4" >
                              </div>
  

                       <table class="table table-bordered table-definition mb-5">
            <thead class="table-warning ">
              <tr style="color:#428bca">
                
                <th>Disease 1</th>
                <th>Disease 2</th>
                <th>Disease 3</th>
                
              </tr>
            </thead>
            <tbody>
              <tr>
                
                <td>abz</td>
                <td>ndcn</td>
                <td> vvh</td>
                                </tr>
              <tr style="color:#428bca">

                  <th >Allergy 1</th>
                <th>Allergy 2</th>
                <th>Allergy 3</th>
                  
                </tr>
                <tr>
                
                    <td>n n </td>
                    <td>mndkj</td>
                    <td>mnvn</td>
                                    </tr>

                                    <tr style="color:#428bca">

                                        <th>Surgery 1</th>
                                      <th>Surgery 2</th>
                                      <th>Surgery 3</th>
                                        
                                      </tr>
                                      <tr>
                                      
                                          <td>njvdk</td>
                                          <td>nvmvm</td>
                                          <td>mnvdmn</td>
                                                          </tr>
              
              
              </tbody></table>  




                      <table class="table table-bordered table-definition mb-5">
            <tr>
              <th style="color:#428bca">Lifestyle 1</th>
              <td>Exercise</td>
            </tr>
            <tr>
              <th style="color:#428bca">Lifestyle   2</th>
              <td></td>
            </tr>
            <tr>
                <th style="color:#428bca">Lifestyle 3</th>
                <td></td>
              </tr>
            <tr>
              <th style="color:#428bca">Habit 1</th>
              <td></td>
            </tr>
            <tr>
              <th style="color:#428bca">Habit 2</th>
              <td></td>
            </tr>
            <tr>
                <th style="color:#428bca">Habit 3</th>
                <td></td>
              </tr>
                
                
                
                </table> 


                    <table class="table table-bordered table-definition mb-5">
                <thead class="table-warning ">
                  <tr style="color:#428bca">
                    
                    <th>Relationship</th>
                    <th>Disease 1</th>
                    <th>Disease 2</th>
                    
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    
                    <td>father</td>
                    <td>abc</td>
                    <td>xyz</td>
                                    </tr>
                  <tr>
                      <td>mother</td>
                      <td>abc</td>
                      <td>xyz</td>
                    </tr></tbody></table>  


                       <table class="table table-bordered table-definition mb-5">
                        <thead class="table-warning ">
                          <tr style="color:#428bca">
                            
                            <th>Height</th>
                            <th>Weight</th>
                          
                            
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            
                            <td>5.5</td>
                            <td>57kg</td>
                          
                                            </tr></tbody></table> 







                                             
        </div>
      </div>

          
    </div>




       <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" style="margin-top:5%;">
      <div class="panel panel-primary">
        <div class="panel-heading">
          Chat
        </div>
        <div class="panel-body">
          
        </div>
      </div>
    </div>


       <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" style="margin-top:5%;">
      <div class="panel panel-primary">
        <div class="panel-heading">
          Past Consultation
        </div>
        <div style="padding: 10px;" class="panel-body">
              
                <div class="form-group ">
                    <label style="color:#428bca" class="col-sm-5 control-label"> Symptom 1</label>
                    <div class="col-sm-7">
                    <input type="text" class="form-control" id="inputEmail4" ><br>
                    </div>
                    </div>
                    <div class="form-group ">
                        <label style="color:#428bca" class="col-sm-5 control-label"> Symptom 2</label>
                        <div class="col-sm-7">
                        <input type="text" class="form-control" id="inputEmail4" ><br>
                        </div>
                        </div>
                        <div class="form-group ">
                            <label style="color:#428bca" class="col-sm-5 control-label"> Symptom 3</label>
                            <div class="col-sm-7">
                            <input type="text" class="form-control" id="inputEmail4" ><br>
                            </div>
                            </div>
                            <div class="form-group ">
                                <label style="color:#428bca" class="col-sm-5 control-label">Type </label>
                                <div class="col-sm-7">
                                <input type="text" class="form-control" id="inputEmail4" ><br>
                                </div>
                                </div>
                                <div class="form-group ">
                                    <label style="color:#428bca" class="col-sm-5 control-label"> place</label>
                                    <div class="col-sm-7">
                                    <input type="text" class="form-control" id="inputEmail4" ><br>
                                    </div>
                                    </div>
                                    <div class="form-group ">
                                        <label style="color:#428bca" class="col-sm-5 control-label">Date </label>
                                        <div class="col-sm-7">
                                        <input type="text" class="form-control" id="inputEmail4" ><br>
                                        </div>
                                        </div>
                                        <div class="form-group ">
                                            <label style="color:#428bca" class="col-sm-5 control-label"> Diagnostic test 1</label>
                                            <div class="col-sm-7">
                                            <input type="text" class="form-control" id="inputEmail4" ><br>
                                            </div>
                                            </div>
                                            <div class="form-group ">
                                                <label style="color:#428bca" class="col-sm-5 control-label">Diagnostic test 2 </label>
                                                <div class="col-sm-7">
                                                <input type="text" class="form-control" id="inputEmail4" ><br>
                                                </div>
                                                </div>
                                                <div class="form-group ">
                                                    <label style="color:#428bca" class="col-sm-5 control-label"> Medicine 1 </label>
                                                    <div class="col-sm-7">
                                                    <input type="text" class="form-control" id="inputEmail4" ><br>
                                                    </div>
                                                    </div>
                                                    <div class="form-group ">
                                                        <label style="color:#428bca" class="col-sm-5 control-label">Medicine 2 </label>
                                                        <div class="col-sm-7">
                                                        <input type="text" class="form-control" id="inputEmail4" ><br>
                                                        </div>
                                                        </div>
                                                        <div class="form-group ">
                                                            <label style="color:#428bca" class="col-sm-5 control-label">Medicine 3 </label>
                                                            <div class="col-sm-7">
                                                            <input type="text" class="form-control" id="inputEmail4" ><br>
                                                            </div>
                                                            </div>
                                                            
      
                                                                    <div class="form-group ">
                                                                        <label style="color:#428bca" class="col-sm-5 control-label"> Uploaded Priscription </label>
                                                                        <div class="col-sm-7">
                                                                        <input type="text" class="form-control" id="inputEmail4" ><br>
                                                                        </div>
                                                                        </div>
                                                                        <div class="form-group ">
                                                                            <label style="color:#428bca" class="col-sm-5 control-label"> Uploaded lab report </label>
                                                                            <div class="col-sm-7">
                                                                            <input type="text" class="form-control" id="inputEmail4" ><br>
                                                                            </div>
                                                                            </div>

                                                                
            </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" style="margin-top:3%;">
    
      <section>
            <h3 class="lead" style="color:#428bca; text-size:10px; " >
            Consultation  
            </h3>
            <a style="text-size:8px;"  routerLink="../dp"><i class="glyphicon glyphicon-plus" style="color:#4dde44;" aria-hidden="true"></i>
              Write new case</a><br>
              <a style="text-size:8px;" routerLink="../dp"><i class="glyphicon glyphicon-plus" style="color:#4dde44;" aria-hidden="true"></i>
                New consultation</a><br><br>
  <section>
    <h3 class="lead" style="color:#428bca">
      FC Medical Records 
    </h3>
    <a style="text-size:8px;" ><i class="glyphicon glyphicon-plus" style="color:#4dde44;" aria-hidden="true"></i>
              Case 1</a><br>
              <a style="text-size:8px;" ><i class="glyphicon glyphicon-plus" style="color:#4dde44;" aria-hidden="true"></i>
                Case 2</a><br>
  </section>
            </section>    
           <div >
           <h3 class="lead" style="color:#428bca; margin-top:80%;">
              Patient Queue  
            </h3>
            <p>
              Waiting Time </p><br>
              <p>
                No.of Patients</p><br>
          </div>
    </div>

  
        </div>


        
      
   
        
          