<style type="text/css">


</style>
<div>
  <h2 style="text-align: center;font-family:times new roman, Helvetica, sans-serif;font-size: 60px;color:#1540e4;box-shadow: -4px 5px 6px 1px black;">First Care </h2>
  <h3 style="text-align: center; font-family:times new roman, Helvetica, sans-serif; font-size: 20px;">A comman solution to address the problems of healthcare sector</h3>
</div>
<div class="container" id="allservices">
	<div class="row">
	<div class="col-md-3" id="ser1">
		<a [routerLink]="['../l']"><img src="assets/images/chat.png" width="50px" height="50px">
		<h6>Online Chat</h6></a>
		<div class="text">
			<span class="tooltext">Chat with qualified in house online doctor and get help free!!!</span>
		</div>
	</div>
	<div class="col-md-3" id="ser2">
		<a [routerLink]="['../l']"><img src="assets/images/expert.png" width="50px" height="50px">
		<h6>Ask Expert</h6></a>
		<div class="text">
			<span class="tooltext">Be guided by the Experts for your medical needs</span>
		</div>
	</div>
	<div class="col-md-3" style="">
		<a [routerLink]="['../l']"><img src="assets/images/emer.png" width="50px" height="50px">
		<h6>Emergency</h6></a>
		<div class="text">
			<span class="tooltext">You need immediate medical attention & we are Here</span>
		</div>
	</div>
	<div class="col-md-3" style="">
		<a [routerLink]="['../l']"><img src="assets/images/know.png" width="50px" height="50px">
		<h6>Knowledge Base</h6></a>
		<div class="text">
			<span class="tooltext">Enlighted your knowledge & how to manage a medical problem & find know medical solution</span>
		</div>
	</div>
<!-- </div> -->
<!-- </div> -->

<!-- <div class="container" id="allservices"> -->
	<!-- <div class="row"> -->
	<div class="col-md-3" style="">
		<a [routerLink]="['../l']"><img src="assets/images/plan.png" width="50px" height="50px">
		<h6>Medical Planner</h6></a>
		<div class="text">
			<span class="tooltext">Plan your medical calendar</span>
		</div>
	</div>
	<div class="col-md-3" style="">
		<a [routerLink]="['../l']"><img src="assets/images/p2p.png" width="50px" height="50px">
		<h6>P2P</h6></a>
		<div class="text">
			<span class="tooltext">Lets help other and get help by others.</span>
		</div>
	</div>
	<div class="col-md-3" style="">
		<a [routerLink]="['../l']"><img src="assets/images/service.png" width="50px" height="50px">
		<h6>Service@Home</h6></a>
		<div class="text">
			<span class="tooltext">Medicose at your door step at one click</span>
		</div>
	</div>
	<div class="col-md-3" style="">
		<a [routerLink]="['../l']" style=""><img src="assets/images/track.png" width="50px" height="50px">
		<h6>Medical Track</h6></a>
		<div class="text">
			<span class="tooltext">Track your medical reports, get live updates on your prescriptions, clinical findings & medicines</span>
		</div>
	</div>
</div>
</div>