<div class=" imges col-md-12 col-xs-12 col-lg-12 col-sm-12">
      
<div>
  <h2 style="text-align: center;font-family:times new roman, Helvetica, sans-serif;font-size: 60px;color:#1540e4;box-shadow: -4px 5px 6px 1px black;">First Care <p style="font-size: 20px;">All in <b>1 </b> place <b> 1 </b> click</p>  </h2> 
 </div>
<div class="imges col-md-12 col-xs-12 col-lg-12 col-sm-12">
      

<div class="container col-md-4 col-lg-4 col-sm-6 col-xs-12 col-lg-offset-4 col-md-offset-4 col-sm-offset-3" >
  <div class="row">
    <div class="panel panel-success">
      <div class="panel-heading" style="background-color:#7baaf7;">

    <h2 class="cust-label w1Center">Register!</h2>
    <hr/>
    <h3 class="w1Center">Set Password</h3> 
    <form  class="form-horizontal" name="registrationForm" novalidate [formGroup]="userForm" (submit)="saveUser()" >
      
        <div class="form-group">
            <label class="cust-label control-label col-md-2 w1Center">Password</label>
             <div class="col-md-6 col-md-offset-1">
           <input type="password" formControlName="pass" name="password" class="form-control" [value]="pass"(input)="pass=$event.target.value" required/>
        </div>
        </div>
        <div class="form-group">
            <label class="cust-label control-label col-md-2 w1Center ">Confirm Password</label>
             <div class="col-md-6 col-md-offset-1">
            <input type="password" formControlName="pas" name="confirmPassword" class="form-control" [value]="pas"(input)="pas=$event.target.value" required />
             
        </div>
        </div>
         <a class="btn btn-primary col-md-offset-4 col-lg-offset-4 col-sm-offset-4 col-xs-offset-4 " data-toggle="modal" data-target="#basicModal" (click)="display()"> Register & Next</a>
    </form>

           <div class="form-group">
   
           

             <div class="modal fade" id="{{mod}}" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
                <div class="modal-dialog modal-sm">
                  <div class="modal-content">
                    <div class="modal-header">
                     <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                      <h4 class="modal-title" style="color: #7baaf7;text-align: center" id="myModalLabel">Do You Want To Complete Your Profile</h4>
                      </div>
                     
                        <div class="modal-body">
                            <div class="panel-body">
                          
                       <div class="col-md-12 col-md-offset-3 col-lg-offset-3 col-sm-offset-3 col-xs-offset-3">
                            <button type="submit" class="btn btn-primary " data-dismiss="modal" aria-hidden="true"  routerLink="../comP">Yes</button>
                            

                           <button type="submit" class="btn btn-primary "  aria-hidden="true" data-dismiss="modal" routerLink="/p/h" (click)="Alrt()">No</button>

                          
                            </div>
                        </div>
                     </div>             
    </div>
  </div>
</div>


           
</div>

</div>
</div>
</div>
</div>
</div>


</div>
