<style type="text/css">


</style>
<div class="container" id="allservices">
	<div class="row">
	<div class="col-md-3" id="ser1">
		<a [routerLink]="['../chat']"><img src="assets/images/Doctor/newp.png" width="50px" height="50px">
		<h6>New Cases</h6></a>
		<div class="text">
			<span class="tooltext">Chat with qualified in house online doctor and get help free!!!</span>
		</div>
	</div>
	<div class="col-md-3" id="ser2">
		<a [routerLink]="['../aexp']"><img src="assets/images/Doctor/caseh.png" width="50px" height="50px">
		<h6>Cases Handled</h6></a>
		<div class="text">
			<span class="tooltext">Be guided by the Experts for your medical needs</span>
		</div>
	</div>
	<div class="col-md-3" style="">
		<a [routerLink]="['../emer']"><img src="assets/images/Doctor/mycases.png" width="50px" height="50px">
		<h6>My Cases</h6></a>
		<div class="text">
			<span class="tooltext">You need immediate medical attention & we are Here</span>
		</div>
	</div>
	<div class="col-md-3" style="">
		<a [routerLink]="['../base']"><img src="assets/images/Doctor/chat.jpg" width="50px" height="50px">
		<h6>Online Chat</h6></a>
		<div class="text">
			<span class="tooltext">Enlighted your knowledge & how to manage a medical problem & find know medical solution</span>
		</div>
	</div>
<!-- </div> -->
<!-- </div> -->

<!-- <div class="container" id="allservices"> -->
	<!-- <div class="row"> -->
	<div class="col-md-3" style="">
		<a [routerLink]="['../mt']"><img src="assets/images/Doctor/route.png" width="50px" height="50px">
		<h6>Route to other hospitals</h6></a>
		<div class="text">
			<span class="tooltext">Plan your medical calendar</span>
		</div>
	</div>
	<div class="col-md-3" style="">
		<a [routerLink]="['../needhelp']"><img src="assets/images/Doctor/pfp.png" width="50px" height="50px">
		<h6>Prescription to Pharmacy</h6></a>
		<div class="text">
			<span class="tooltext">Lets help other and get help by others.</span>
		</div>
	</div>
	<div class="col-md-3" style="">
		<a [routerLink]="['../serAtHome']"><img src="assets/images/Doctor/lab.png" width="50px" height="50px">
		<h6>Prescription to Lab</h6></a>
		<div class="text">
			<span class="tooltext">Medicose at your door step at one click</span>
		</div>
	</div>
	
</div>
</div>

