
<div>
    <div><h2>Subject to take Opinion</h2>
      <input type="text" name="subject">
     <div class="col-md-12">
        <span class="Form-title"><label>Whom you want to ask for?</label></span>
       <label class="Form-label--tick" >
            <input type="radio" value="F" name="SomeRadio" class="Form-label-radio" ng-click="displayFields = !displayFields">
            <span class="Form-label-text">YourSelf</span>
        </label>
        <label class="Form-label--tick" >
            <input type="radio" value="F" name="SomeRadio" class="Form-label-radio" ng-click="displayFields = !displayFields">
            <span class="Form-label-text">Father</span>
        </label>
        <label class="Form-label--tick">
            <input type="radio" value="M" name="SomeRadio" class="Form-label-radio" ng-click="displayFields = !displayFields">
            <span class="Form-label-text">Mother</span>
        </label>
        <label class="Form-label--tick">
            <input type="radio" value="W" name="SomeRadio" class="Form-label-radio" ng-click="displayFields = !displayFields">
            <span class="Form-label-text">Wife</span>
        </label>
         <label class="Form-label--tick">
            <input type="radio" value="H" name="SomeRadio" class="Form-label-radio" ng-click="displayFields = !displayFields">
            <span class="Form-label-text">Husband</span>
        </label>
         <label class="Form-label--tick">
            <input type="radio" value="S" name="SomeRadio" class="Form-label-radio" ng-click="displayFields = !displayFields">
            <span class="Form-label-text">Son</span>
        </label>
         <label class="Form-label--tick">
            <input type="radio" value="D" name="SomeRadio" class="Form-label-radio" ng-click="displayFields = !displayFields">
            <span class="Form-label-text">Daughter</span>
        </label>
         <label class="Form-label--tick">
            <input type="radio" value="F" name="SomeRadio" class="Form-label-radio" ng-click="displayFields = !displayFields">
            <span class="Form-label-text">Friend</span>
        </label>
         
         <div class="col-xs-4 col-xs-offset-3">
    <br><br>
    <a (click) ="giveMoreDetails()"class="SO_btn-block">
    Give Details <span class="glyphicon glyphicon-circle-arrow-right"></span>
    </a>
</div>
</div>
</div>