<!--  -->

<div class="container" style=" font-family:times new roman, Helvetica, sans-serif; font-size: 20px; text-align: center;">
	<h2 >Tell us when you need the service ?</h2>
	<hr>
	<div class="col-md-6" style="margin-left: 250px;"
	>
		<!-- <div class="panel-body"> -->
			<form class="form-horizontal" action="/action_page.php">
    			<div class="form-group">
      				<label class="control-label col-sm-4" for="email">Date:</label>
      				<div class="col-sm-5">
        				<input type="date" class="form-control" id="email" placeholder="dd/mm/yyyy">
      				</div>
    			</div>
    			<div class="form-group">
      				<label class="control-label col-sm-4" for="pwd">Time:</label>
      				<div class="col-sm-5">          
        				<input type="time" class="form-control" id="pwd" placeholder="tt:mm:ss" name="pwd">
      				</div>
    			</div>
    			<div class="form-group">
      				<label class="control-label col-sm-4" for="pwd">Contact person:</label>
      				<div class="col-sm-5">          
        				<input type="text" class="form-control" id="pwd" placeholder="Name of the person" name="pwd">
      				</div>
    			</div>
    			<div class="form-group">
      				<label class="control-label col-sm-4" for="pwd">Firstcare Id:</label>
      				<div class="col-sm-5">          
        				<input type="text" class="form-control" id="pwd" placeholder="Firstcareid" name="pwd">
      				</div>
    			</div>
    			<div class="form-group">
      				<label class="control-label col-sm-4" for="pwd">Patient Name:</label>
      				<div class="col-sm-5">          
        				<input type="text" class="form-control" id="pwd" placeholder="Patient Name" name="pwd">
      				</div>
    			</div>
    			<div class="form-group">        
      				<div class="col-sm-offset-2 col-sm-6">
        			<button class="btn btn-primary col-md-5" (click)="next()" style="float: right;background: #47b2d8;">Next</button>
      			</div>
    		</div>
  			</form>
		<!-- </div> -->
	</div>
</div>