 
<div class="container" style= "font-family : times new roman; text-align: center;">
<div class="col-md-12">
<div class="row">


	<div class="col-md-8 col-md-offset-1" >
    <div class="row">

<h2 style="padding-top:30px;">Avail The Emergency Case</h2>


<h3>Please Select appropriate options to help us care in the right way</h3>

<!-- <div *ngIf="ac=='null' && treat=='null'"> -->
 <div class="form-group" style="padding-top:30px;">

      <label for="select" class="col-md-8 control-label" style="font-size:20px;">Please select the emergency Situation?</label>
      <div class="col-md-4">

        <select class="form-control" id="select" >
         
            <option>Select</option>
          <option>Accident</option>
  <option>Natural Disaster</option>
  <option>Strokes</option>
  <option>Trauma</option>
        </select>
       
      </div>

    </div>
    <!-- </div> -->


</div>

 </div>
<!-- <div *ngIf="dis=='null' && treat=='null'"> -->
<div class="col-md-8 col-md-offset-1">
    <div class="row">
         <div class="form-group" style="padding-top:30px;">
      <label  class="col-md-8 control-label " style="font-size:20px;">Please Provide your incident location?</label>
      <div class="col-md-4">
       
        <select class="form-control" id="select" >
           
             <option>Select</option>
          <option>banashankari</option>
  <option>kumaraswamy layout</option>
  <option>Koramangala</option>
  
        </select>
       
      </div>

    </div>
    </div>
    
</div>
<!-- </div> -->
<!-- <div *ngIf="dis =='null' && ac=='null'"> -->
   <div class="col-md-8 col-md-offset-1">
    <div class="row">
         <div class="form-group" style="padding-top:30px;">
      <label for="select" class="col-md-8 control-label " style="font-size:20px;">What is the Emergency Condition?</label>
      <div class="col-md-4">

        <select class="form-control" id="select" >
            <option>select</option>
             <option>Critical</option>
          <option>very critical</option>
  
  
        </select>
       
      </div>

    </div>
    </div>
    
</div> <!-- </div> -->
   <div class="col-md-8 col-md-offset-1">
    <div class="row">
         <div class="form-group" style="padding-top:30px;">
      <label for="select" class="col-md-8 control-label " style="font-size:20px;">What you want?</label>

      <div class="col-md-4">

      	

    <select class="form-control" placeholder="help">
            
             <option>Select</option>
          <option>Ambulance</option>
  <option>Ambulance & Nurse</option>
  <option>Doctor</option>
  
        </select> 
       
      </div>

    </div>
    </div>
</div>



 <div class="col-md-6 col-md-offset-5 ">
    <div class="form-group"  style="padding-top:30px;">
       <button type="button" class="btn"   style ="background-color: #47b2d8; color: #ffffff;"> Submit</button>
     
    </div>
  </div>  