
<div class="container">
<div class="col-md-12">
<div class="row">


    

<h2 style="padding-top:30px;">Search the Emergency for Other</h2>




    <div class="Form-section">

       <label style="font-size:20px; padding-right:50px; padding-top:30px;" >Whom you want to ask for?</label>
       

        <label class="Form-label--tick" >
            <input type="radio" value="F" name="SomeRadio" class="Form-label-radio">
            <span class="Form-label-text">Father</span>
        </label>
        <label class="Form-label--tick">
            <input type="radio" value="M" name="SomeRadio" class="Form-label-radio" >
            <span class="Form-label-text">Mother</span>
        </label>
        <label class="Form-label--tick">
            <input type="radio" value="W" name="SomeRadio" class="Form-label-radio" >
            <span class="Form-label-text">Wife</span>
        </label>
         <label class="Form-label--tick">
            <input type="radio" value="H" name="SomeRadio" class="Form-label-radio" >
            <span class="Form-label-text">Husband</span>
        </label>
         <label class="Form-label--tick">
            <input type="radio" value="S" name="SomeRadio" class="Form-label-radio" >
            <span class="Form-label-text">Son</span>
        </label>
         <label class="Form-label--tick">
            <input type="radio" value="D" name="SomeRadio" class="Form-label-radio" >
            <span class="Form-label-text">Daughter</span>
        </label>
         <label class="Form-label--tick">
            <input type="radio" value="F" name="SomeRadio" class="Form-label-radio" >
            <span class="Form-label-text">Friend</span>
        </label>
         <label class="Form-label--tick">
            <input type="radio" value="O" name="SomeRadio" class="Form-label-radio" >
            <span class="Form-label-text">Other</span>
        </label>
       
    </div>

<div class="col-md-8 col-md-offset-1" >
    <div class="row">
<!-- <div *ngIf="ac=='null' && treat=='null'"> -->
 <div class="form-group" style="padding-top:30px;">

      <label for="select" class="col-md-8 control-label" style="font-size:20px;">Please select the emergency Situation?</label>
      <div class="col-md-4">

        <select class="form-control" id="select" >
         
            <option>Select</option>
          <option>Accident</option>
  <option>Natural Disaster</option>
  <option>Strokes</option>
  <option>Trauma</option>
        </select>
       
      </div>

    </div>
    <!-- </div> -->


</div>

 </div>
<!-- <div *ngIf="dis=='null' && treat=='null'"> -->
<div class="col-md-8 col-md-offset-1">
    <div class="row">
         <div class="form-group" style="padding-top:30px;">
      <label  class="col-md-8 control-label " style="font-size:20px;">Please Provide your incident location?</label>
      <div class="col-md-4">
       
        <select class="form-control" id="select" >
           
             <option>Select</option>
          <option>banashankari</option>
  <option>kumaraswamy layout</option>
  <option>Koramangala</option>
  
        </select>
       
      </div>

    </div>
    </div>
    
</div>
<!-- </div> -->
<!-- <div *ngIf="dis =='null' && ac=='null'"> -->
   <div class="col-md-8 col-md-offset-1">
    <div class="row">
         <div class="form-group" style="padding-top:30px;">
      <label for="select" class="col-md-8 control-label " style="font-size:20px;">What is the Emergency Condition?</label>
      <div class="col-md-4">

        <select class="form-control" id="select" >
            <option>select</option>
             <option>Critical</option>
          <option>Very Critical</option>
 
  
        </select>
       
      </div>

    </div>
    </div>
    
</div> <!-- </div> -->
   <div class="col-md-8 col-md-offset-1">
    <div class="row">
         <div class="form-group" style="padding-top:30px;">
      <label for="select" class="col-md-8 control-label " style="font-size:20px;">What you want?</label>

      <div class="col-md-4">

       

   <select class="form-control" placeholder="help">
            
             <option>Select</option>
          <option>Ambulance</option>
  <option>Ambulance & Nurse</option>
  <option>Doctor</option>
  
        </select> 
       
      </div>

    </div>
    </div>
</div>



 <div class="col-md-6 col-md-offset-5 ">
    <div class="form-group"  style="padding-top:30px;">
       <button type="button" class="btn"   style ="background-color: #47b2d8; color: #ffffff;"> Submit</button>
     
    </div>
  </div>  