<div class="container" >
<form>
<h4 class="cont"> Clinical Observation</h4><hr>
<div class="row">


<h3>Diagnostic Test</h3>
<div class="col-md-3">
<div class="form-group">

<label >Test 1</label>
<select class="form-control">
<option value="0" selected>Choose</option>
<option value="1"></option>
<option value="2"></option>
<option value="3"></option>
<option value="4"></option>
</select>
</div>
</div>


<!--  col-md-6   -->


<!--  col-md-6   -->




<div class="col-md-2">
<div class="form-group">
<label for="company">Find Suggestion</label>
<select class="form-control">
<option value="0" selected>Choose</option>
<option value="1"></option>
<option value="2"></option>
<option value="3"></option>
<option value="4"></option>
</select>
</div>


</div>

<div class="col-md-3">

<div class="form-group">
<button type="submit" class="btn btn-success">Recommend</button>

</div>
</div>
<!--  col-md-6   -->





<!--  col-md-6   -->

<div class="col-md-3">
<div class="form-group">

<label >Test 2</label>
<select class="form-control">
<option value="0" selected>Choose</option>
<option value="1"></option>
<option value="2"></option>
<option value="3"></option>
<option value="4"></option>
</select>
</div>
</div>



<div class="col-md-2">
<div class="form-group">
<label for="company">Find Suggestion</label>
<select class="form-control">
<option value="0" selected>Choose</option>
<option value="1"></option>
<option value="2"></option>
<option value="3"></option>
<option value="4"></option>
</select>
</div>


</div>

<div class="col-md-3">

<div class="form-group">
<button type="submit" class="btn btn-success">Recommend</button>

</div>
</div>
<div class="col-md-3">
<div class="form-group">

<label >Test 3</label>
<select class="form-control">
<option value="0" selected>Choose</option>
<option value="1"></option>
<option value="2"></option>
<option value="3"></option>
<option value="4"></option>
</select>
</div>
</div>



<div class="col-md-2">
<div class="form-group">
<label for="company">Find Suggestion</label>
<select class="form-control">
<option value="0" selected>Choose</option>
<option value="1"></option>
<option value="2"></option>
<option value="3"></option>
<option value="4"></option>
</select>
</div>


</div>

<div class="col-md-3">

<div class="form-group">
<button type="submit" class="btn btn-success">Recommend</button>

</div>
</div>



<div class="col-md-9">
<h3>Physical Examine</h3>
</div>
<div class="row">

<div class="col-md-3">
<div class="form-group">

<label >Examine 1</label>
<select class="form-control">
<option value="0" selected>Choose</option>
<option value="1"></option>
<option value="2"></option>
<option value="3"></option>
<option value="4"></option>
</select>
</div>
</div>



<div class="col-md-2">
<div class="form-group">
<label for="company">Find Suggestion</label>
<select class="form-control">
<option value="0" selected>Choose</option>
<option value="1"></option>
<option value="2"></option>
<option value="3"></option>
<option value="4"></option>
</select>
</div>


</div>
<div class="col-md-3">

<div class="form-group">
<button type="submit" class="btn btn-success">Recommend</button>

</div>
</div>

<div class="col-md-3">
<div class="form-group">

<label >Examine 2</label>
<select class="form-control">
<option value="0" selected>Choose</option>
<option value="1"></option>
<option value="2"></option>
<option value="3"></option>
<option value="4"></option>
</select>
</div>
</div>



<div class="col-md-2">
<div class="form-group">
<label for="company">Find Suggestion</label>
<select class="form-control">
<option value="0" selected>Choose</option>
<option value="1"></option>
<option value="2"></option>
<option value="3"></option>
<option value="4"></option>
</select>
</div>


</div>
<div class="col-md-3">

<div class="form-group">
<button type="submit" class="btn btn-success">Recommend</button>

</div>
</div>

<div class="col-md-3">
<div class="form-group">

<label >Examine 3</label>
<select class="form-control">
<option value="0" selected>Choose</option>
<option value="1"></option>
<option value="2"></option>
<option value="3"></option>
<option value="4"></option>
</select>
</div>
</div>



<div class="col-md-2">
<div class="form-group">
<label for="company">Find Suggestion</label>
<select class="form-control">
<option value="0" selected>Choose</option>
<option value="1"></option>
<option value="2"></option>
<option value="3"></option>
<option value="4"></option>
</select>
</div>


</div>
<div class="col-md-3">

<div class="form-group">
<button type="submit" class="btn btn-success">Recommend</button>

</div>
</div>

<div class="col-md-6">
<div class="form-group">

<div >
<label> Observation Note</label>
</div>
<textarea class="span8 " rows="5" placeholder="Note" required></textarea>
</div>
</div>






<div class="row">

<div class="col-md-6">


<div class="form-group">
<button type="submit" class="btn btn-primary">Save&Submit</button>

</div>




</div>
</div>
</div>

</div>

<!--  col-md-6   -->

<!--  row   -->




</form>
</div>