<!-- <div class="container" style="margin-top: 50px;width: 100%;height: 200px;/*background-color: lightgrey;*/font-size: 50px;font-weight: 600;padding: 90px;font-family:cursive;background: url(assets/images/back1.jpg);color: white;">
	MEDICAL SERVICES TO YOUR DOOR STEP
</div> -->
<div style="text-align: center; font-family:times new roman, Helvetica, sans-serif; font-size: 20px;">
<div class="container-default" style="height: 200px;width:100%;">
	<h2>If you need the Medical staff, Doctors, Nurses, Paramedical Staffs to reach to you over a phone Or Order Online.</h2>
		<h3>We would make sure that the appropriate mediacl staff Or attention arrives at your Home on optimal time and serve you appropriately.</h3>
	<hr>
	<!-- </div> -->
</div>
</div>
<div class="" style="margin-left: 600px; margin-top:1%">
  <!-- <div class="panel panel-default" style="/*box-shadow: 5px 5px 5px 5px #888888;*/"> -->
    <!-- <div class="panel-body"> -->
    	<form style="color: black;">

    		<div class="radio">
  				<label>
    				<input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>Nurses
 				</label>
			</div>
			<div class="radio">
  				<label>
    				<input type="radio" name="optionsRadios" id="optionsRadios1" value="option1">Doctors
  				</label>
			</div>
			<div class="radio">
  				<label>
    				<input type="radio" name="optionsRadios" id="optionsRadios1" value="option1">Paramedical staffs
  				</label>
			</div>
			<div class="radio">
  				<label>
    				<input type="radio" name="optionsRadios" id="optionsRadios1" value="option1">Diagnostic lab
  				</label>
			</div>
			<div class="radio">
  				<label>
    				<input type="radio" name="optionsRadios" id="optionsRadios1" value="option1">Medicines
  				</label>
			</div>
			<div class="radio">
  				<label>
    				<input type="radio" name="optionsRadios" id="optionsRadios1" value="option1">Physiotherapy
  				</label>
			</div>
			<!-- <label class="cont">Nurses
				<input type="checkbox" name="service">
				<span class="check"></span>
			</label>
			<label class="cont">Doctors
				<input type="checkbox" name="" >
				<span class="check"></span>
			</label>
			<label class="cont">Paramedical Staff
				<input type="checkbox" name="">
				<span class="check"></span>
			</label>
			<label class="cont">Diagnostic Lab
				<input type="checkbox" name="">
				<span class="check"></span>
			</label>
			<label class="cont">Medicines
				<input type="checkbox" name="">
				<span class="check"></span>
			</label>
			<label class="cont">Physiotherapy
				<input type="checkbox" name="">
				<span class="check"></span>
			</label> -->
			<button class="btn btn-primary" (click)="next()" style="width: 250px;background: #47b2d8">Next</button>
		</form>
    <!-- </div> -->
  <!-- </div> -->
	
	
</div>
