<div class="container" >
<form>
<h2 class="cont">Treatment</h2>
<div class="row">
<div class="col-md-8">
<div class="panel with-nav-tabs ">
<div class="panel-heading">
<ul class="nav nav-tabs">
<li class="active"><a href="#tab1default" data-toggle="tab">Medicine</a></li>
<li><a href="#tab2default" data-toggle="tab">Surgery</a></li>
<li><a href="#tab3default" data-toggle="tab">Exercise</a></li>
<li><a href="#tab4default" data-toggle="tab">Food</a></li>
<li><a href="#tab5default" data-toggle="tab">physiotherapy</a></li>
<li><a href="#tab6default" data-toggle="tab">psychiatry</a></li>

</ul>
</div>
</div>
<div class="container" >
<div class="panel-body">
<div class="tab-content">
<div class="tab-pane fade in active" id="tab1default">

<div class="col-md-10">
<div class="panel panel-primary">

<div class="row">
<div class="col-sm-12 col-md-10  col-md-offset-1 ">



<div class="col-sm-3 form-group">
<label>Medicine 1</label>
<select id="type" class="form-control">
<option>Choose</option>
<option></option>
<option></option>
<option></option>
<option></option>
<option></option>

</select>
</div>
<div class="col-sm-3 form-group">
<label>Frequency</label>
<input type="text" value="">
</div>

<div class="col-sm-3 form-group">

<label>Start</label>
<input type="date" value="">
</div>

<div class="col-sm-3 form-group">

<label>End</label>
<input type="date" value="">
</div>
</div>


</div>


<div class="row">
<div class="col-sm-12 col-md-10  col-md-offset-1 ">



<div class="col-sm-3 form-group">
<label>Medicine 2</label>
<select id="type" class="form-control">
<option>Choose</option>
<option></option>
<option></option>
<option></option>
<option></option>
<option></option>

</select>
</div>
<div class="col-sm-3 form-group">
<label>Frequency</label>
<input type="text" value="">
</div>

<div class="col-sm-3 form-group">

<label>Start</label>
<input type="date" value="">
</div>

<div class="col-sm-3 form-group">

<label>End</label>
<input type="date" value="">
</div>
</div>


</div>
<div class="row">
<div class="col-sm-12 col-md-10  col-md-offset-1 ">



<div class="col-sm-3 form-group">
<label>Medicine 3</label>
<select id="type" class="form-control">
<option>Choose</option>
<option></option>
<option></option>
<option></option>
<option></option>
<option></option>

</select>
</div>
<div class="col-sm-3 form-group">
<label>Frequency</label>
<input type="text" value="">
</div>

<div class="col-sm-3 form-group">

<label>Start</label>
<input type="date" value="">
</div>

<div class="col-sm-3 form-group">

<label>End</label>
<input type="date" value="">
</div>
</div>


</div>
<div class="row">
<div class="col-sm-12 col-md-10  col-md-offset-1 ">



<div class="col-sm-4 form-group">

<label style="color:cornflowerblue">Find Suggestion</label>
<select id="type" class="form-control">
<option>Choose</option>
<option>within 1km</option>
<option>within 2km</option>
<option>within 3km</option>
<option>within 5km</option>
<option>within 10km</option>

</select>
</div>
<div class="col-sm-4 form-group">


<div>
<button type="submit" class="btn btn-success">Recommend</button>
</div>


</div>
</div></div>
</div>
</div>

</div>
<div class="tab-pane fade" id="tab2default">


<div class="container" >
<div class="panel-body">
<div class="tab-content">
<div class="tab-pane fade in active" id="tab1default">

<div class="col-md-10">
<div class="panel panel-primary">

<div class="row">
<div class="col-sm-12 col-md-10  col-md-offset-1 ">



<div class="col-sm-3 form-group">
<label>Surgery 1</label>
<select id="type" class="form-control">
<option>Choose</option>
<option></option>
<option></option>
<option></option>
<option></option>
<option></option>

</select>
</div>
<div class="col-sm-3 form-group">
<label>when</label>
<input type="date" value="">
</div>

<div class="col-sm-3 form-group">

<label>Find suggestion</label>
<select id="type" class="form-control">
<option>Choose</option>
<option></option>
<option></option>
<option></option>
<option></option>
<option></option>

</select>
</div>

<div class="col-sm-3 form-group">

<div>
<button type="submit" class="btn btn-success">Recommend</button>
</div>

</div>
</div>


</div>


<div class="row">
<div class="col-sm-12 col-md-10  col-md-offset-1 ">



<div class="col-sm-3 form-group">
<label>Surgery 2</label>
<select id="type" class="form-control">
<option>Choose</option>
<option></option>
<option></option>
<option></option>
<option></option>
<option></option>

</select>
</div>
<div class="col-sm-3 form-group">
<label>when</label>
<input type="date" value="">
</div>

<div class="col-sm-3 form-group">

<label>Find suggestion</label>
<select id="type" class="form-control">
<option>Choose</option>
<option></option>
<option></option>
<option></option>
<option></option>
<option></option>

</select>
</div>

<div class="col-sm-3 form-group">

<div>
<button type="submit" class="btn btn-success">Recommend</button>
</div>

</div>
</div>


</div>
<div class="row">
<div class="col-sm-12 col-md-10  col-md-offset-1 ">



<div class="col-sm-3 form-group">
<label>Surgery 3</label>
<select id="type" class="form-control">
<option>Choose</option>
<option></option>
<option></option>
<option></option>
<option></option>
<option></option>

</select>
</div>
<div class="col-sm-3 form-group">
<label>when</label>
<input type="date" value="">
</div>

<div class="col-sm-3 form-group">

<label>Find suggestion</label>
<select id="type" class="form-control">
<option>Choose</option>
<option></option>
<option></option>
<option></option>
<option></option>
<option></option>

</select>
</div>

<div class="col-sm-3 form-group">

<div>
<button type="submit" class="btn btn-success">Recommend</button>
</div>

</div>
</div>


</div>

</div>
</div>

</div>
<div class="tab-pane fade" id="tab3default">


<div class="container" >
<div class="panel-body">
<div class="tab-content">
<div class="tab-pane fade in active" id="tab1default">

<div class="col-md-10">
<div class="panel panel-primary">

<div class="row">
<div class="col-sm-12 col-md-10  col-md-offset-1 ">



<div class="col-sm-3 form-group">
<label>Exercise 1</label>
<select id="type" class="form-control">
<option>Choose</option>
<option></option>
<option></option>
<option></option>
<option></option>
<option></option>

</select>
</div>
<div class="col-sm-3 form-group">
<label>Frequency</label>
<input type="date" value="">
</div>

<div class="col-sm-3 form-group">

<label>Find suggestion</label>
<select id="type" class="form-control">
<option>Choose</option>
<option></option>
<option></option>
<option></option>
<option></option>
<option></option>

</select>
</div>

<div class="col-sm-3 form-group">

<div>
<button type="submit" class="btn btn-success">Recommend</button>
</div>

</div>
</div>


</div>


<div class="row">
<div class="col-sm-12 col-md-10  col-md-offset-1 ">



<div class="col-sm-3 form-group">
<label>Exercise 2</label>
<select id="type" class="form-control">
<option>Choose</option>
<option></option>
<option></option>
<option></option>
<option></option>
<option></option>

</select>
</div>
<div class="col-sm-3 form-group">
<label>Frequency</label>
<input type="date" value="">
</div>

<div class="col-sm-3 form-group">

<label>Find suggestion</label>
<select id="type" class="form-control">
<option>Choose</option>
<option></option>
<option></option>
<option></option>
<option></option>
<option></option>

</select>
</div>

<div class="col-sm-3 form-group">

<div>
<button type="submit" class="btn btn-success">Recommend</button>
</div>

</div>
</div>


</div>
<div class="row">
<div class="col-sm-12 col-md-10  col-md-offset-1 ">



<div class="col-sm-3 form-group">
<label>Exercise 3</label>
<select id="type" class="form-control">
<option>Choose</option>
<option></option>
<option></option>
<option></option>
<option></option>
<option></option>

</select>
</div>
<div class="col-sm-3 form-group">
<label>Frequency</label>
<input type="date" value="">
</div>

<div class="col-sm-3 form-group">

<label>Find suggestion</label>
<select id="type" class="form-control">
<option>Choose</option>
<option></option>
<option></option>
<option></option>
<option></option>
<option></option>

</select>
</div>

<div class="col-sm-3 form-group">

<div>
<button type="submit" class="btn btn-success">Recommend</button>
</div>

</div>
</div>


</div>

</div>
</div>

</div>



<div class="tab-pane fade" id="tab4default"><div class="container" >
<div class="panel-body">
<div class="tab-content">
<div class="tab-pane fade in active" id="tab1default">

<div class="col-md-8">
<div >

<div class="row">
<div class="col-sm-12 col-md-10  col-md-offset-1 ">



<div class="col-md-4 form-group">
<label>Food Type</label>
<select id="type" class="form-control">
<option>Choose</option>
<option></option>
<option></option>
<option></option>
<option></option>
<option></option>

</select>
</div>
<div class="col-md-4 form-group">
<label>Frequency</label><br>
<input type="text" value="">
</div>
</div>




</div>

<div class="row">
<div class="col-sm-12 col-md-10  col-md-offset-1 ">



<div class="col-md-4 form-group">
<label>Food Type</label>
<select id="type" class="form-control">
<option>Choose</option>
<option></option>
<option></option>
<option></option>
<option></option>
<option></option>

</select>
</div>
<div class="col-md-4 form-group">
<label>Frequency</label><br>
<input type="text" value="">
</div>





</div>
</div></div></div></div></div></div></div></div>
<div class="tab-pane fade" id="tab5default"><div class="container" >
<form>

<div class="row">
<div class="col-md-8">

<div class="container" >
<div class="panel-body">
<div class="tab-content">
<div class="tab-pane fade in active" id="tab1default">

<div class="col-md-10">
<div class="panel panel-primary">

<div class="row">
<div class="col-sm-12 col-md-10  col-md-offset-1 ">



<div class="col-sm-3 form-group">
<label>physiotherapy 1</label>
<select id="type" class="form-control">
<option>Choose</option>
<option></option>
<option></option>
<option></option>
<option></option>
<option></option>

</select>
</div>
<div class="col-sm-3 form-group">
<label>Frequency</label>
<input type="text" value="">
</div>

<div class="col-sm-3 form-group">

<label>Find suggestion</label>
<select id="type" class="form-control">
<option>Choose</option>
<option></option>
<option></option>
<option></option>
<option></option>
<option></option>

</select>
</div>

<div class="col-sm-3 form-group">

<div>
<button type="submit" class="btn btn-success">Recommend</button>
</div>
</div>
</div>


</div>


<div class="row">
<div class="col-sm-12 col-md-10  col-md-offset-1 ">



<div class="col-sm-3 form-group">
<label>physiotherapy 2</label>
<select id="type" class="form-control">
<option>Choose</option>
<option></option>
<option></option>
<option></option>
<option></option>
<option></option>

</select>
</div>
<div class="col-sm-3 form-group">
<label>Frequency</label>
<input type="text" value="">
</div>

<div class="col-sm-3 form-group">

<label>Find suggestion</label>
<select id="type" class="form-control">
<option>Choose</option>
<option></option>
<option></option>
<option></option>
<option></option>
<option></option>

</select>
</div>

<div class="col-sm-3 form-group">

<div>
<button type="submit" class="btn btn-success">Recommend</button>
</div>
</div>
</div>


</div>
<div class="row">
<div class="col-sm-12 col-md-10  col-md-offset-1 ">



<div class="col-sm-3 form-group">
<label>physiotherapy 3</label>
<select id="type" class="form-control">
<option>Choose</option>
<option></option>
<option></option>
<option></option>
<option></option>
<option></option>

</select>
</div>
<div class="col-sm-3 form-group">
<label>Frequency</label>
<input type="text" value="">
</div>

<div class="col-sm-3 form-group">

<label>Find suggestion</label>
<select id="type" class="form-control">
<option>Choose</option>
<option></option>
<option></option>
<option></option>
<option></option>
<option></option>

</select>
</div>

<div class="col-sm-3 form-group">


<div>
<button type="submit" class="btn btn-success">Recommend</button>
</div>
</div>
</div>


</div>


</div>
</div>

</div></div>

</div>
</div>
</div>
<!--  col-md-6   -->

</div></form></div>