


<div class="container" style= "font-family : times new roman; text-align: center;">
     <div class="">        
    <div class="row">
<div class="">
<h1 style="text-align: center; color: #47b2d8;"> Emergency </h1>
</div>
    
 
           <!--  <blockquote> -->
                <h3 >Incase of emergencies like Accidents, Natural Disaster, Strokes, Trauma,if you need immediate medical attention.</h3>
            <!-- </blockquote>  --> 
           
 
    
        
   <hr > 





   <div class="container" style="padding-top:60px;">
    <div class="row text-center"><br>
        <!-- <div class="col-md-4 col-sm-4">
            <a (click)="readfyou()">
            <img src="/assets/images/you.png " class="img-circle">
            <h3>YOURSELF</h3></a>
          
        </div>
        <div class="col-md-4 col-sm-4">
             <a (click)="readfoth()">
            <img src="/assets/images/other.png " class="img-circle">
            <h3>OTHERS</h3></a>
            
        </div>
        <div class="col-md-4 col-sm-4">
             <a (click)="readfgeneral()">
            <img src="/assets/images/generalp.png " class="img-circle">
            <h3>GENERAL PUBLIC</h3></a>
            
        </div> -->


          <div class="col-sm-4">
           
      <div class="iconbox">
        <div class="icon">
           
          <img src="/assets/images/you.png " (click)="readfyou()" >
        </div>
        <h3 (click)="readfyou()">YOURSELF</h3>
      
        <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad libero voluptatum, tenetur repellat aspernatur possimus aliquid vel</p> -->
      </div>
    </div>
    <div class="col-sm-4">
      
      <div class="iconbox">
        <div class="icon">
          <img src="/assets/images/other.png " (click)="readfoth()">
        </div>
        <h3 (click)="readfoth()">OTHERS</h3>
     
        <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad libero voluptatum, tenetur repellat aspernatur possimus aliquid vel</p> -->
      </div>
    </div>
    <div class="col-sm-4">
     
      <div class="iconbox">
        <div class="icon">
         <img src="/assets/images/generalp.png " (click)="readfgeneral()">
        </div>
        <h3 (click)="readfgeneral()">GENERAL PUBLIC</h3>
      
       <!--  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad libero voluptatum, tenetur repellat aspernatur possimus aliquid vel</p> -->
      </div>
    </div>
    </div>
</div> 



</div>
</div>
</div>


<!-- <div>
  YourSelf : <input type="button"  class="button button-2 button-2g" (click)="emerForSelf()">
  Others : <input type="button"  class="button button-2 button-2g" (click)="emerForOther()">
  <!-- c: <input type="radio"  [(ngModel)]="raj" value="rama"> -->
 

      <!-- <router-outlet></router-outlet> -->
<!-- </div> --> 