<div class="container" style=" font-family:times new roman, Helvetica, sans-serif; font-size: 20px; text-align: center;">
  <h2>Tell us the service that you need from the Medical staffs, When they reach to your home ?</h2>
  <div class="col-md-6" style="margin-left: 250px;"
  >
    
      <form class="form-horizontal">
        <div class="form-group">
          <textarea class="form-control col-md-6" rows="3" placeholder="Write your purpose....."></textarea>
        </div>
        <div class="form-group">
          <button class="btn btn-primary col-md-6"  style="margin-left: 150px; background: #47b2d8;">Submit</button>
        </div>
      </form>
    
  </div>
</div>