<h1 align="center">
  First Care- Patients Frequently Asked Questions
</h1>
<hr>
<div class="col-md-3 col-md-offset-2">
      
  <!-- <div ng-app="myVar"> -->
        <div class="list-group panel">

          <a (click)="readFaq()"><button class="list-group-item list-group-item-success" ng-click="toggle()" style="background-color: #f49741; width: 100%;">FAQ's</button></a><br>
          <a (click)="readDos()"><button class="list-group-item list-group-item-success" style="background-color: #4CAF50; width: 100%;">Do's and Dont's</button></a><br>
          <a (click)="readMedAdv()">
            <button class="list-group-item list-group-item-success" style="background-color: #4CAF50; width: 100%;">
              General Medical Advisories
              </button>
          </a>
          </div>
        
         <a (click)="postQueries()">
           <button class="list-group-item list-group-item-success" style="background-color:#80b733; width: 100%;">POST YOUR QUERY
           </button>
        </a>
        </div>
<p>
  
  faq 
</p>
<div>
  osgn jsm swap
  <router-outlet>

  </router-outlet>
</div>
