<div class="container-fluid">
<nav class="navbar navbar-inverse">
  
  <div class="navbar-header">
    <a class="navbar-brand" href="#">FIRST CARE</a>
  </div>
    <ul class="nav navbar-nav navbar-right">
      
      <li><a><span class="glyphicon glyphicon-log-in"></span> LogOut</a></li>
    </ul>
 
</nav>
</div>
<div class="container">
  <div class="row">
      <div class="col-md-3">
          <div class="panel panel-primary">
              <div class="panel-heading">
                  <span class="glyphicon glyphicon-comment"></span> Chat
                  
              </div>
              <div class="panel-body">
                  <ul class="sidebar-nav nav " >
                      <li class="left clearfix"><span class="chat-img pull-left">
                          <img src="http://placehold.it/50/55C1E7/fff&amp;text=U" alt="User Avatar" class="img-circle">
                      </span>
                          <div class="chat-body clearfix">
                              
                              
                          </div>
                      </li>
                      <li class="right clearfix"><span class="chat-img pull-right">
                          <img src="http://placehold.it/50/FA6F57/fff&amp;text=ME" alt="User Avatar" class="img-circle">
                      </span>
                          <div class="chat-body clearfix">
                              
                             
                          </div>
                      </li>
                      <li class="left clearfix"><span class="chat-img pull-left">
                          <img src="http://placehold.it/50/55C1E7/fff&amp;text=U" alt="User Avatar" class="img-circle">
                      </span>
                          <div class="chat-body clearfix">
                              
                              
                          </div>
                      </li>
                      <li class="right clearfix"><span class="chat-img pull-right">
                          <img src="http://placehold.it/50/FA6F57/fff&amp;text=ME" alt="User Avatar" class="img-circle">
                      </span>
                          <div class="chat-body clearfix">
                              
                            
                          </div>
                      </li>
                  </ul>
              </div>
              <div class="panel-footer">
                  <div class="input-group">
                      <input id="btn-input" type="text" class="form-control input-sm" placeholder="Type your message here...">
                      <span class="input-group-btn">
                          <button class="btn btn-warning btn-sm" id="btn-chat">
                              Send</button>
                      </span>
                  </div>
              </div>
          </div>
      </div>
      <div class="row">
          <div class="col-md-3">
              <div class="panel panel-primary">
                  <div class="panel-heading">
                      <span class="glyphicon glyphicon-user"></span> Patient Profile
                      
                  </div>

                  <div class="panel-body">
          
              <ul class="sidebar-nav nav " >
                            
                            <li>
                                    <p class="fa fa-anchor solo" style="color: black;margin-left: 10%">Name: {{Fname}} {{Lname}}</p>
                            </li>
                            <li>
                                    <p class="fa fa-anchor solo" style="color: black;margin-left: 10%">First_Care id   : {{FirstCareId}} </p>
                            </li>
                            <li>
                                    <p class="fa fa-anchor solo collapsed fa fa-globe fa-lg" data-toggle="collapse" data-target="#service" style="color: black;margin-left: 10%">Patient id: {{PatientId}}  </p>
                            </li>               
                             
            
                            <li>
                                    <p class="fa fa-anchor solo" style="color: black;margin-left: 10%">ConNo: {{Mobile}}</p>
                            </li>
                            <li>
                                <p class="fa fa-anchor solo" style="color: black;margin-left: 10%">Email: {{Email}}</p>
                        </li>
                            <li>
                                    <p class="fa fa-anchor solo" style="color: black;margin-left: 10%">Gender:  {{Gender}}</p>
                            </li>
                            <li>
                                    <p class="fa fa-anchor solo" style="color: black;margin-left: 10%">date of Birth: {{dob}}</p>
                            </li>
 
                            <li>
                                    <p class="fa fa-anchor solo" style="color:black;margin-left: 10%">Blood Group: <span>{{oldBGroup}}</span></p>
                            </li>
                            
                             <li>
                                    <p class="fa fa-anchor solo" style="color: black;margin-left: 10%">Location: {{Location}}</p>
                            </li>  
                                                     
              </ul>
            </div>
      </div>
    </div>
  
  <div class="row">
      <div class="col-md-3">
          <div class="panel panel-primary">
              <div class="panel-heading">
                  <span class="glyphicon glyphicon-comment"></span> Pre Symptoms
                  
              </div>
              <div class="panel-body">
                  <ul class="sidebar-nav nav " >

                    <li>Symptom-1:</li>
                    <li>From:</li>
                    <li>T0:</li><br>
                    <li> Symptom-2:</li>
                    <li>From:</li>
                    <li>TO-</li>
                    <br>
                    <li>Symptom-3:</li>
                    <li>From:</li>
                    <li>TO:</li><br>
                    <button>Edit</button> <button>Save</button>
        
                    </ul>
                    </div></div></div>

  </div>
  
</div>
</div>
