

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">


<div class="container">


<div class="row">
	<aside class="col-sm-4">

<p>Doctor-patient</p>

        <div class="card">
            <header class="card-header">
                <a  data-toggle="collapse" data-target="#collapse11" aria-expanded="true" class="">
                    <i class="icon-action fa fa-chevron-down"></i>
                    <span class="title">Chat Box:</span>
                </a>
            </header>
            <div class="collapse show" id="collapse11" >
                <article class="card-body">
                    <form class="mb15">
                        <label>Hi:</label><br>
                        <label>Hello:</label><br>
                        <label>How are u</label><br>
                        <label>Good:</label><br>
                        <label>How are u:</label><br>
                        <label>hi:</label><br>
                        <label>hello:</label><br>
                        <label>hi:</label>
                    </form>
                
                </article> <!-- card-body.// -->
            </div> <!-- collapse .// -->
        </div>  <!-- card.// -->

        <div class="card">
            <header class="card-header">
                <a  data-toggle="collapse" data-target="#collapse22" aria-expanded="true" class="">
                    <i class="icon-action fa fa-chevron-down"></i>
                    <span class="title">Write Cases </span>
                </a>
            </header>
            <div class="collapse show" id="collapse22">
                <article class="card-body">
                    <form>
                        <ul>
                            <li><a>New Case</a></li>
                          
                            
                        </ul>
                    </form>	
                </article> <!-- card-body.// -->
            </div> <!-- collapse .// -->
        </div>



	</aside> <!-- col.// -->
	<aside class="col-sm-4">
<p>Doctor-patient</p>


<div class="card">
	<header class="card-header">
		<a href="#" data-toggle="collapse" data-target="#collapse11" aria-expanded="true" class="">
			<i class="icon-action fa fa-chevron-down"></i>
			<span class="title">Patient Profile</span>
		</a>
	</header>
	<div class="collapse show" id="collapse11">
		<article class="card-body">
			<form class="mb15">
                <label>Name:</label><br>
                <label>Account_id:</label><br>
                <label>Patient_id</label><br>
                <label>Contact_no:</label><br>
                <label>Gender:</label><br>
                <label>DOB:</label><br>
                <label>Blood_Group:</label><br>
                <label>Location:</label>
			</form>
		
		</article> <!-- card-body.// -->
	</div> <!-- collapse .// -->
</div> <!-- card.// -->
<div class="card">
	<header class="card-header">
		<a href="#" data-toggle="collapse" data-target="#collapse22" aria-expanded="true" class="">
			<i class="icon-action fa fa-chevron-down"></i>
			<span class="title">View Uploads </span>
		</a>
	</header>
	<div class="collapse show" id="collapse22">
		<article class="card-body">
			<form>
                <ul>
                    <li><a>X-ray Reports</a></li>
                    <li>
                    <a>Scanning</a>
                    </li>
                    <li><a>Blood Test Report</a></li>
                </ul>
            </form>	
		</article> <!-- card-body.// -->
	</div> <!-- collapse .// -->
</div> <!-- card.// -->


<div class="card">
	<header class="card-header">
		<a data-toggle="collapse" data-target="#collapse22" aria-expanded="true" class="">
			<i class="icon-action fa fa-chevron-down"></i>
			<span class="title">Prescription: </span>
		</a>
	</header>
	<div class="collapse show" id="collapse22">
		<article class="card-body">
			<form>
                <ul>
                    <li><a>Cases:</a></li>
                    <li>
                    <a>Digital Priscription</a>
                    </li>
                   
                </ul>
            </form>	
		</article> <!-- card-body.// -->
	</div> <!-- collapse .// -->
</div>

	</aside> <!-- col.// -->
	<aside class="col-sm-4">
<p>Doctor-patient</p>



<div class="card">
	<article class="card-group-item">
		<header class="card-header">
			<a href="#" data-toggle="collapse" data-target="#collapse33" aria-expanded="true" class="">
				<i class="icon-action fa fa-chevron-down"></i>
				<h6 class="title">Symptoms</h6>
			</a>
		</header>
		<div class="filter-content collapse show" id="collapse33" >
			<div class="card-body">
				<form class="pb-3">
                <label> Symptom1:</label><br>
                <label>From:</label><br>
                <label>To:</label> <br>
                  <label> Symptom2:</label><br>
                  <label>From:</label><br>
                  <label>To:</label><br>
                  <button> Edit </button>
				</form>
				
			</div> <!-- card-body.// -->
		</div>
	</article> <!-- card-group-item.// -->
	                    
</div> <!-- card.// -->

<div class="card">
	<article class="card-group-item">
		<header class="card-header">
			<a href="#" data-toggle="collapse" data-target="#collapse33" aria-expanded="true" class="">
				<i class="icon-action fa fa-chevron-down"></i>
				<h6 class="title">Queue History</h6>
			</a>
		</header>
		<div class="filter-content collapse show" id="collapse33">
			<div class="card-body">
				<form class="pb-3">
                <label> patient_id:</label><br>
                <label>From:</label><br>
                <label>To:</label> <br>
                  <label> patient_id:</label><br>
                  <label>From:</label><br>
                  <label>To:</label><br>
                  <button> Edit </button>
				</form>
				
			</div> <!-- card-body.// -->
		</div>
	</article> <!-- card-group-item.// -->
	                    
</div> <!-- card.// -->




	</aside> <!-- col.// -->
</div> <!-- row.// -->

</div> 
<!--container end.//-->

